/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
:root {
  --nex-green: #27ae60;      /* মেইন সবুজ */
  --nex-light-green: #eafaf1; /* হালকা সবুজ ব্যাকগ্রাউন্ড */
  --nex-dark: #2c3e50;       /* টেক্সট কালার */
  --nex-bg: #f4f7f6;         /* পুরো বডি ব্যাকগ্রাউন্ড */
  --nex-white: #ffffff;
}

body {
  background-color: var(--nex-bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: var(--nex-dark);
}

/* কমন কার্ড ডিজাইন */
.nexa-card {
  background: var(--nex-white);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  padding: 20px;
  margin-bottom: 20px;
}