<div class="layout-wrapper">
  <div
    class="layout-backdrop"
    *ngIf="isSidebarMobileOpen"
    (click)="closeSidebar()">
  </div>

  <app-sidebar
    [isMobileView]="isMobileView"
    [isMobileOpen]="isSidebarMobileOpen"
    [isCollapsed]="!isMobileView && isSidebarCollapsed"
    (closeRequested)="closeSidebar()">
  </app-sidebar>

  <div class="main-content" [class.sidebar-collapsed]="!isMobileView && isSidebarCollapsed">
    <app-navbar
      [isSidebarCollapsed]="!isMobileView && isSidebarCollapsed"
      (sidebarToggle)="toggleSidebar()">
    </app-navbar>

    <div class="page-content">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-global-loading></app-global-loading>
  <app-notification-container></app-notification-container>
</div>
